<launch>
    <arg name="simulation" default="true"/>

    <include file="$(find bachelors_final_project)/launch/simulated_openni.launch" if="$(arg simulation)">
        <arg name="load_driver" value="False"/>
    </include>

    <include file="$(find pr2_moveit_config)/launch/planning_context.launch" required="true">
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find pr2_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- Lanzar mundo vacío  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!-- Lanzar el PR2 a partir de pr2_gazebo -->
    <include file="$(find pr2_gazebo)/launch/pr2.launch"/>
    <!-- -J r_upper_arm_roll_joint -1.64 -J r_shoulder_pan_joint -2.135 -J r_shoulder_lift_joint -0.02 -J r_forearm_roll_joint -1.64 -J r_elbow_flex_joint -2.07 -J r_wrist_flex_joint -1.68 -J r_wrist_roll_joint 1.40 -->
    <!-- Ya es incluido por pr2.launch: include file="$(find pr2_controller_configuration_gazebo)/launch/pr2_default_controllers.launch" /-->

    <!-- Spawnear la mesa -->
    <!-- PARA OBTENER TODOS LOS PARAMETROS POSIBLES DE spawn_model, HACER "rosrun gazebo_ros spawn_model -h" MIENTRAS SE EJECUTA ROS. -->
    <!--<param name="table_description"
           command="$(find xacro)/xacro.py /home/mexomagno/.gazebo/models/mesita/model.sdf" />
    <node name="spawn_table"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-sdf -param table_description -model mesita -x 1.5 -y 0 -z 0 -Y 1.5707"
          respawn="false"
          output="screen" />-->
    <!-- Lo annterior sería equivalente por consola a: -->
    <!-- rosrun gazebo_ros spawn_model -sdf -file /home/mexomagno/.gazebo/models/table/model.sdf -model mesita -x 1.5 -y 0 -z 0 -Y 1.5707 -->
    <!-- Para eliminar modelo desde consola, llamar al servicio de gazebo y entregar nombre del modelo: -->
    <!-- rosservice call /gazebo/delete_model mesita -->

    <!-- Spawnear la lata -->
    <!--<node name="spawn_object" pkg="gazebo_ros" type="spawn_model"
          args="-sdf -file /home/mexomagno/.gazebo/models/coke_can/model.sdf -model lata_coca -x 1.5 -z 0.51"
          respawn="false" output="screen" />-->



    <!-- parameters that give you reasonable physics as well as good speed -->
    <!-- needed so that gripper joint stops on objects instead of oscillating forever-->
    <node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50"/>
    <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>
    <node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001"/>

    <!-- Lanzar gzclient -->
    <node pkg="gazebo_ros" type="gzclient" name="gzclient"/>
</launch>
