<launch>
  <!-- Gazebo pr2_empty_world.launch includes pr2.launch and empty_world.launch -->
  <!-- start pr2 robot -->
  <include file="$(find bachelors_final_project)/launch/my_pr2.launch"/>
  <!-- Startup PR2 without any mechanism controllers>
       Loads robot_description
       Spawns PR2
       Load and Start Default Controllers -->
  <!-- start pr2 robot -->

  <!--<include file="$(find bachelors_final_project)/launch/simulated_openni.launch" if="$(arg simulation)">
      <arg name="load_driver" value="false"/>
      <arg name="camera" value="head_mount_kinect"/>
  </include>-->

  <!-- Gazebo -->
  <arg name="paused" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bachelors_final_project)/worlds/table_with_objects_closer.world"/>
    <arg name="gui" value="false" />
    <arg name="paused" value="$(arg paused)" />
  </include>  
  <arg name="gui" default="true"/>
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>
  <!-- Gazebo -->

  <!-- To improve performance: Needs to be inmediately after gazebo -->
  <!--<node name="$(anon throttle)" pkg="topic_tools" type="throttle" 
    args="messages head_mount_kinect/depth/points 1.0"/>
  <node name="$(anon throttle)" pkg="topic_tools" type="throttle" 
    args="messages head_mount_kinect/depth_registered/points 1.0"/>
  <remap from="head_mount_kinect/depth/points" to="head_mount_kinect/depth/points_throttle"/>
  <remap from="head_mount_kinect/depth_registered/points" to="head_mount_kinect/depth_registered/points_throttle"/>-->

  <!-- Set robot initial position -->
  <node name="timed_initial_position" pkg="bachelors_final_project" type="timed_roslaunch.sh" output="screen" 
    args="rosrun 5 bachelors_final_project change_model_position.py -urdf -param robot_description -model pr2 -ros_namespace /gazebo -J head_tilt_joint 0.9"/>
  <!-- Set robot initial position -->

  <!-- MoveIt -->
  <!--<param name="/move_group/max_range" value="2.5" />-->
  <arg name="move_group" default="true"/>
  <include file="$(find bachelors_final_project)/launch/my_move_group.launch"  if="$(arg move_group)">    
    <arg name="info" value="true"/>
  </include>
  <!-- To improve performance -->
  <rosparam param="/move_group/max_range">5.0</rosparam> <!-- Default 5.0 -->
  <rosparam param="/move_group/octomap_resolution">0.01</rosparam> <!-- Default 0.025 -->
  <!-- Launches planning_context
       Load SRDF, Joint limits, kinematics
       Launches moveit_controller_manager = pr2 -->
  <!-- MoveIt -->  

  <!-- Rviz -->  
  <arg name="rviz" default="true"/>
  <include file="$(find bachelors_final_project)/launch/my_rviz.launch" if="$(arg rviz)">
    <arg name="moveit_rviz" value="false" />
  </include>
  <!-- Rviz -->
    
  <!-- parameters that give you reasonable physics as well as good speed -->
  <!-- needed so that gripper joint stops on objects instead of oscillating forever-->
  <node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50"/>
  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>
  <node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001"/>

  <rosparam param="/bachelors_final_project/no_segmentation_visualizer">true</rosparam>
  <rosparam param="/bachelors_final_project/no_detection_visualizer">true</rosparam>
</launch>
