<launch>

  <param name="/use_sim_time" type="bool" value="true" />

  <arg name="camera" default="camera" />
  <arg name="load_driver" default="true" />

  <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="load_driver" value="$(arg load_driver)"/>
        <arg name="camera" value="$(arg camera)"/>
  </include>

  <node name="rqt_bag" pkg="rqt_bag" type="rqt_bag" required="true"
  	args="--clock $(find bachelors_final_project)/crop.bag" />
           
</launch>
